@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Josefin+Sans:wght@600;700&family=Nunito:wght@300&family=Poppins:wght@300;400&family=Raleway:wght@300&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

::selection {
  background-color: #7790d4;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  background-color: rgb(226, 220, 220);
}
.container {
  min-width: 320px;
  height: 40vh;
  padding: 2rem;
  position: relative;
  width: 770px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.button {
  position: absolute;
  left: 31%;
  top: 40%;
  border: none;
  font-size: 1.6rem;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  background-color: rgb(226, 220, 220);
  cursor: pointer;
  outline: none;
}
h2 {
  text-align: start;
  margin-left: 10rem;
  padding: 20px;
  font-size: 3rem;
  font-weight: 600;
}
.input-box {
  position: relative;
  background-color: rgb(226, 220, 220);
}
.input-label {
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.6rem;
  transition: 0.4s;
  background-color: rgb(226, 220, 220);
  padding-right: 40%;
}
.input-label:hover {
  cursor: text;
}
input:focus ~ label,
input:valid ~ label {
  top: -5%;
  font-size: 13px;
}
input[type="text"],
input[type="password"] {
  padding: 8px;
  border: none;
  outline: none;
  padding-top: 20px;
  font-size: 1.6rem;
  background-color: rgb(226, 220, 220);
  font-family: "poppins", Arial, Helvetica, sans-serif;
  margin-bottom: -6px;
  display: block;
}
#username {
  width: 40%;
}
.input-box .underline::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 40%;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.input-box .underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 40%;
  left: 0;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.input-box input:focus ~ .underline::after {
  transform: scaleX(1);
}
form {
  display: flex;
  flex-direction: column;
}
.footer-form {
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.footer-form a {
  text-decoration: none;
  color: rgb(19, 18, 18);
}
.footer-form:hover {
  text-decoration: underline;
}
.first {
  padding-top: 2rem;
  margin-left: 10rem;
}
.second {
  margin-left: 9.1rem;
  padding-bottom: 3rem;
}
.input-box {
  position: relative;
}
form .input-box:first-child {
  margin-bottom: 1.5rem;
}
input[type="submit"] {
  margin-top: 30px;
  padding: 6px;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid rgb(131, 127, 127);
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(226, 220, 220);
  border-radius: 3px;
  width: 40%;
}
input[type="submit"]:hover {
  letter-spacing: 1px;
  border: 1px solid rgb(70, 66, 66);
  background-color: rgb(238, 232, 232);
}
input[type="submit"]:focus {
  border-radius: 0;
}
.or {
  display: flex;
  height: 15px;
  margin: 15px 0 20px;
  transform: rotate(90deg);
  position: absolute;
  left: 22rem;
  bottom: 18rem;
}
.line {
  width: 105px;
  height: 2px;
  background: #757779;
}
.or p {
  padding: 10px;
  font-size: 1.5rem;
  color: #222425;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.social-field {
  padding: 0.6rem;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
}

.social-field a i {
  margin: 0.5rem;
  width: 200px;
  font-size: 1rem;
}
footer {
  position: absolute;
  margin-left: 27vw;
  bottom: 14rem;
}
.social-field a {
  text-decoration: none;
  color: white;
}
.social-field.twitter {
  background: linear-gradient(to right, #63acf0, #58a0e4);
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
.social-field.facebook {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
.social-field.google {
  background: linear-gradient(to right, #f7f5f5, #f5f3f3);
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
.google a {
  color: #000;
}
.social-field.twitter:hover {
  background: linear-gradient(to right, #429cf0, #0084ff);
}
.social-field.facebook:hover {
  background: linear-gradient(to right, #09265c, #0c44a5);
}
.social-field.google:hover {
  background: linear-gradient(to right, #ffffff, #ffffff);
}
/*--------------------------------------------start of @Medias----------------------------------------------*/
@media (max-width: 1300px) {
  .social-fields {
    margin-left: 60px;
  }
}
@media (max-width: 1082px) {
  .social-fields {
    margin-left: 70px;
  }
}
@media (max-width: 1050px) {
  .social-fields {
    margin-left: 90px;
  }
}
@media (max-width: 1000px) {
  .social-fields {
    margin-left: 90px;
  }
}
@media (max-width: 1025px) {
  .social-fields {
    margin-left: 90px;
  }
}
@media (max-width: 975px) {
  .social-fields {
    margin-left: 110px;
  }
}
@media (max-width: 955px) {
  .social-fields {
    margin-left: 110px;
  }
}
@media (max-width: 930px) {
  .social-fields {
    margin-left: 110px;
  }
}
@media (max-width: 900px) {
  .social-fields {
    margin-left: 120px;
  }
}
@media (max-width: 875px) {
  .social-fields {
    margin-left: 135px;
  }
}
@media (max-width: 820px) {
  .social-fields {
    margin-left: 150px;
  }
}
@media (max-width: 850px) {
  .social-fields {
    margin-left: 140px;
  }
}
@media (max-width: 800px) {
  .social-fields {
    margin-left: 160px;
  }
}

@media (max-width: 780px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: none;
    width: 370px;
    height: 65vh;
  }
  .or {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    margin: 15px 0 20px;
    display: none;
  }
  .line {
    width: 105px;
    height: 2px;
    background: #5c5f63;
    display: none;
  }
  .or p {
    padding: 10px;
    font-size: 1.4rem;
    color: #414549;
    display: none;
  }
  .social-fields {
    margin-left: -14rem;
    min-height: none;
    display: flex;
    gap: 1.3rem;
    padding-bottom: 3rem;
  }
  .social-field a i {
    width: 70px;
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
  }
  footer {
    position: absolute;
    margin-left: 17rem;
    bottom: 0;
  }
  #username {
    width: 100%;
  }
  #password {
    width: 100%;
    padding-right: 8rem;
  }
  .input-box .underline::before {
    width: 100%;
  }
  .input-box .underline::after {
    width: 100%;
  }
  .button {
    left: 80%;
  }
  input[type="submit"] {
    width: 100%;
  }
  .social-field-text {
    display: none;
  }
}
